<!DOCTYPE html>
<html>
<head>
{% block head deferred %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>{% if page.title %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
  
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
  <link rel="canonical" href="{{ page.url(true, true) }}" />
  <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
{% endblock head %}

{% block stylesheets %}
  {% do assets.addCss('theme://css-compiled/colors.css', 101) %}
  {% do assets.addCss('theme://css-compiled/tables.css', 102) %}
  {% do assets.addCss('theme://css-compiled/typography.css', 103) %}
  {% do assets.addCss('theme://css/main.css') %}
  {% do assets.addCss('theme://css/navbar.css') %}
  {% do assets.addCss('theme://css/settingspanel.css') %}
  {% do assets.addCss('theme://css/menu.css') %}
{% endblock %}

  <!--[if lte IE 8]>
      <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
  <!--<![endif]-->

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" }}">

{% block assets deferred %}
  {{ assets.css()|raw }}
  {{ assets.js()|raw }}
{% endblock %}

<!-- this is a visitor counter, it is self-hosted, this is NOT the Google stuff -->
<script type="text/javascript">
  var _paq = window._paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.derfunke.net/piwik/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- end visitor counter code -->
</head>
<body class="pure-g">    

  <div id="global-container">
    {% block navbar %}
        {% include 'partials/navbar.html.twig' %}
    {% endblock %}

    {% block menu %}
        {% include 'partials/menudrawer.html.twig' %}
    {% endblock %}

    {% block controlpanel %}
        {% include 'partials/controlpanel.html.twig' %}
    {% endblock %}

    <div id="container" class="pure-u-1-1">
        <h1>{{ page.title }}</h1>
        {% block content %}
            {{ page.content|raw }}
        {% endblock %}
    </div>

  </div>

    
  <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      crossorigin="anonymous">
  </script>
  
  <script>
      var $fontSize = $("#font-size");
      var defaults = {
      typeSize: {
          chapterHeader: 42,
          sectionTitle: 42,
          subTitle: 32,
          body: 18
      },
      typeContrast: {
          1: "helvetica",
          2: "gill-sans",
          3: "merriweather",
          4: "baskerville",
          5: "cutive-mono"
      },
      typeContrastVal: 2,
      lineHeight: {
          chapterHeader: 1.4,
          sectionTitle: 1.4,
          subTitle: 1.4,
          body: 1.4
      },
      letterSpacing: {
          chapterHeader: 2,
          sectionTitle: 1.75,
          subTitle: 1.2,
          body: 1
      }
      };
      var $previewText = $('.preview-text ') 
      var w = window.innerWidth;

      $fontSize.on("change", function(ev) {
      $target = $(ev.delegateTarget);
      fontMultiplier = $target.get(0).value / 1000;
      if (w < 769) {
          fontMultiplier *= .7
      }
      if (fontMultiplier === 0) {fontMultiplier += (1/ 1000)} 
      $previewText.css("font-size", defaults.typeSize.body * fontMultiplier)
      });

      /* **************************************************************************** */
      /* keyboard                                                                     */
      /* **************************************************************************** */
      document.onkeydown = function(evt) {
          evt = evt || window.event;
          if (evt.keyCode == 27) {
          $("#control-panel").addClass("hide");
          $("#menu-drawer").addClass("hide");
          }
      };

      /* **************************************************************************** */
      /* settings                                                                     */
      /* **************************************************************************** */
      $("#menu").on("click", function(ev) {
      $("#menu-drawer").toggleClass("hide");
      });

      $("#close-menu-drawer").on("click", function(ev){
      $("#menu-drawer").toggleClass("hide");
      });

      /* **************************************************************************** */
      /* settings                                                                     */
      /* **************************************************************************** */
      $("#settings").on("click", function(ev) {
      $("#control-panel").toggleClass("hide");
      });

      $("#close-control-panel").on("click", function(ev){
      $("#control-panel").toggleClass("hide");
      });

      /* **************************************************************************** */
      /* navbar                                                                       */
      /* **************************************************************************** */
      /*
      var navbar = $("#navbar");
      var sticky = navbar.offset();
      // console.log("sticky top: " + sticky.top);
      // console.log("pageYoffset: " + window.pageYOffset);
      window.onscroll = function(ev) {
      // console.log("sticky top: " + sticky.top);
      // console.log("pageYoffset: " + window.pageYOffset);
      if (window.pageYOffset >= sticky.top) {
          navbar.addClass("sticky");
      } else {
          navbar.removeClass("sticky");
      }
      }*/
  </script>

  
  <script
      src="https://toolness.github.io/p5.js-widget/p5-widget.js"
      crossorigin="anonymous">
  </script>

  </body>
</html>
