<div id="control-panel" class="pure-u-1-1 control-panel hide">
        <div class="control-panel-header row">
          <a href="#" class="apply-filters">Apply Settings</a>
          <a href="#" class="reset-filters">Reset Settings</a>

          <div id="close-control-panel" class="ex">
              <div class="one"></div>
              <div class="two"></div>
          </div>
        </div>

        <div class="controls pure-u-2-5">
          <form class="pure-form pure-form-aligned">
            <fieldset>
              <div class="slider-controls pure-control-group">
                  <label for="">Type Size</label>
                  <input type="range" id="font-size" min="50" value="100" max="300" >
              </div>
              <div class="slider-controls pure-control-group">
                  <label for="">Line Height</label>
                  <input type="range" id="line-height" min="70" value="100" max="300" >
              </div>
              <div class="slider-controls pure-control-group">
                  <label for="">Letter Spacing</label>
                  <input type="range" id="letter-spacing" min="50" value="100" max="1000">
              </div>
              <!--
              <div class="slider-controls line-length-controls pure-control-group">
                  <label for="">Line Length:</label>
                  <input type="range" id="line-length" min="40" value="100" max="100">
              </div>
            -->
              <div class="button-controls background-controls pure-control-group">
                  <label for="">Font</label>
                  <div class="group">
                      <div class="font white helvetica" data-font="helvetica"><span class="character font-character">A</span></div>
                      <div class="font white gill-sans" data-font="gill-sans"><span class="character font-character">A</span></div>
                      <div class="font white merriweather" data-font="merriweather"><span class="character font-character">A</span></div>
                      <div class="font white baskerville" data-font="baskerville"><span class="character font-character">A</span></div>
                      <div class="font white cutive-mono" data-font="cutive-mono"><span class="character font-character">A</span></div>
                  </div>
              </div>
      
              <div class="button-controls background-controls pure-control-group">
                  <label for="">Background</label>
                  <div class="group">
                      <div class="color white" data-color="white"><span class="character">A</span></div>
                      <div class="color blue" data-color="blue"><span class="character white-text">A</span></div>
                      <div class="color yellow" data-color="yellow"><span class="character">A</span></div>
                      <div class="color cream" data-color="cream"><span class="character">A</span></div>
                  </div>
              </div>
            </fieldset>
          </form>
        </div>

        <div id="preview" class="preview pure-u-1-2">
          <p id="preview-text" class="preview-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              <br>
              <br>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              <br>
              <br>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
            
    </div>
