{% macro loop(page, parent_loop) %}
    {% import _self as self %}

    {% if parent_loop|length > 0 %}
        {% set data_level = parent_loop %}
    {% else %}
        {% set data_level = 0 %}
    {% endif %}
    {% for p in page.children.visible %}
        {% set parent_page = p.activeChild ? ' parent' : '' %}
        {% set current_page = p.active ? ' active' : '' %}
        <li class="dd-item{{ parent_page }}{{ current_page }}" data-nav-id="{{ p.route }}">
            <a href="{{ p.url }}" {% if p.header.class %}class="{{ p.header.class }}"{% endif %}>
                {% if data_level == 0 %}{{ loop.index }}. {% endif %}{{ p.menu }}
            </a>
            {% if p.children.count > 0 %}
            <ul>
                {{ self.loop(p, parent_loop|default(0)+loop.index) }}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% import _self as macro %}

<div id="menu-drawer" class="pure-u-2-5 menu-drawer thinscroll hide">
    <div class="menu-drawer-header row">
        <div id="close-menu-drawer" class="wex">
            <div class="one"></div>
            <div class="two"></div>
        </div>
        <h2>Table of contents</h2>
        </div>
        <ul class="topics">
          {##  {% if theme_config.root_page %}
                {{ macro.loop(page.find(theme_config.root_page), '') }}
            {% else %} ##}
                {{ macro.loop(pages, '') }}
           {## {% endif %} ##}
        </ul>
</div>
