{% set crumbs = breadcrumbs.get() %}
{% set divider = grav.theme.config.breadcrumb_divider %}
{% set controlpanel = grav.theme.config.controlpanel %}
{% set skiplist = grav.theme.config.skip_crumbs %}

<div id="navbar" class="pure-u-1-1">
    <a id="menu" href="#" title="table of contents">&#9776;</a>
    {# control panel switch is options, can be configured in theme settings file #}
    {% if controlpanel %}
      <a id="settings" href="#" title="reading settings">&#9728;</a>
    {% endif %}

    {% for crumb in crumbs %}

      {# skit the root levels of the hierachy to prevent the navbar from getting too long #}
      {# this can be configured in the theme config file #}
      {% set skipthis = false %}
      {% if crumb.menu|lower in skiplist %}
        {% set skipthis = true %}
      {% endif %}

      {% if not skipthis %}
        {% if not loop.last %}
          {% if crumb.routable %}
            <a href="{{ crumb.url }}" itemprop="url">{{ crumb.menu }}</a>
          {% else  %}
            <span itemprop="title">{{ crumb.menu }}</span>
          {% endif %}
          <span>&#9003;</span> {# breadcrumb divider #}
        {% else %}
          {% if breadcrumbs_config.link_trailing %}
            <a href="{{ crumb.url }}" class="trailing" itemprop="url">{{ crumb.menu }}</a>
            {# <a href="{{ crumb.url }}" itemprop="url">{{ crumb.menu }}</a> #}
          {% else %}
            <a href="{{ crumb.url }}" class="trailing">{{ crumb.menu }}</a>
            {# <span itemprop="title">{{ crumb.menu }}</span> #}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
</div>
