$header-height: 0;
$header-bg: $core-accent;
$sidebar-width: 300px;
$sidebar-width-smaller: 230px;
$sidebar-bg: #38424D;
$sidebar-text: #bbbbbb;
$sidebar-link: #bbbbbb;
$navbar-text: desaturate($core-accent,50%);
$navbar-bg: #F6F6F6;
$progress-bar: #50D681;
$check-color: lighten($sidebar-bg, 30%);
$star-color: #F8C74A;

// Font Weights
$font-weight-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;

$body-margin: 2rem;

// Logo
$logo-width: 8rem;
$logo-height: 2rem;

// Standard Colors
$turquoise: #1ABC9C;
$green_sea: #16A085;
$emerald: #2ECC71;
$nephritis: #27AE60;
$peter_river: #3498DB;
$belize_hole: #2980B9;
$amethyst: #A66BBE;
$wisteria: #8E44AD;
$wet_asphalt: #34495E;
$midnight_blue: #2C3E50;
$sunflower: #F2CA27;
$orange: #F39C12;
$carrot: #E67E22;
$pumpkin: #D35400;
$alizarin: #E74C3C;
$pomegranate: #C0392B;
$clouds: #ECF0F1;
$silver: #BDC3C7;
$concrete: #95A5A6;
$asbestos: #7F8C8D;
