// Import Google Web Fonts
@import url(//fonts.googleapis.com/css?family=Montserrat:400|Muli:300,400|Inconsolata);

// fonts
@font-face {
	font-family: "nimbus sans";
	src: url("../fonts/nimbus-sans-l/NimbusSanL-Reg.otf");
}
@font-face {
	font-family: "nimbus sans";
	src: url("../fonts/nimbus-sans-l/NimbusSanL-Bol.otf");
    font-weight: bold;
}
/*
@font-face {
	font-family: "nimbus sans";
	src: url("../fonts/nimbus-sans-l/NimbusSanL-RegIta.otf");
    font-style: italic, oblique;
}
@font-face {
	font-family: "nimbus sans";
	src: url("../fonts/nimbus-sans-l/NimbusSanL-BolIta.otf");
    font-weight: bold;
    font-style: italic, oblique;
}
*/

$font-family-default:           "Muli", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-header: 	        "nimbus sans", Fallback, sans-serif;
//$font-family-header:            "Montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-mono:              "Inconsolata", monospace;
$font-family-serif:             "Georgia", "Times", "Times New Roman", serif;

