<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

    <title>{% if page.title %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block stylesheets %}
    {% do assets.addCss('theme://revealjs/css/reset.css', 101) %}
    {% do assets.addCss('theme://revealjs/css/reveal.css', 102) %}
    {% do assets.addCss('theme://revealjs/css/theme/black.css', {'id':'theme'}, 103) %}
    {% do assets.addCss('theme://revealjs/lib/css/monokai.css', 104) %}
  {% endblock %}

  {% block javascripts %}
      {% do assets.addJs('theme://revealjs/js/reveal.js', {group:'bottom'}) %}
  {% endblock %}

  {% block assets deferred %}
      {{ assets.css()|raw }}
      {{ assets.js()|raw }}
  {% endblock %}

	<body>
		<div class="reveal">
			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

          <section data-markdown>
              <textarea data-template>
{% block content %}
{{ page.content|raw }}
{% endblock %}
              </textarea>
            </section>
      
      </div>
		</div>

    {% block bottom %}
      {{ assets.js('bottom')|raw }}
    {% endblock %}

		<script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				center: true,
				hash: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: '{{ theme_url }}/revealjs/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '{{ theme_url }}/revealjs/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '{{ theme_url }}/revealjs/plugin/highlight/highlight.js', async: true },
					{ src: '{{ theme_url }}/revealjs/plugin/search/search.js', async: true },
					{ src: '{{ theme_url }}/revealjs/plugin/zoom-js/zoom.js', async: true },
					{ src: '{{ theme_url }}/revealjs/plugin/notes/notes.js', async: true }
				]
			});
    </script>

  </body>
</html>
