// Content Block Spacing Variables
$content-margin:				0.625rem !default;
$content-padding:				0; //0.938rem !default;

// Fixed Block Variables
$fixed-block-full:				percentage(1/4) !default;
$fixed-block-desktop:			percentage(1/3) !default;
$fixed-block-tablet:			percentage(1/2) !default;