/*
@import "fonts.css";
@import "navbar.css";
@import "settingspanel.css";
*/

html, body {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  background: #fff !important;
}

* {
  font-family: 'Baskerville', serif;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6, p, li {
  margin: 0;
  padding: 0;
}

body * {
  font-family: inherit;
}

iframe {
  margin: 1.5em 0 3em 0;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

blockquote {
  margin: 1.7rem 5em 1.7em 2em;
  padding-left: 1rem;
  /*display: inline-block; */
  width: 100%;
  line-height: inherit;
}

blockquote {
  border-left: 10px solid #C0C2C4;
}

blockquote p {
  font-size: 1.1rem;
  color: #888;
}

.blockquote.center {
  text-align: center;
}

#container {
/*  margin: 3em auto;*/
  padding: 0.5em 2em 3em 2em;
}

.center {
  text-align: center;
  width: 100%;
  display: block;
}

/*
ul, li {
  margin: 0;
  list-style: none;
  text-decoration: none;
  padding: 0;
  line-height: 1.4;
}
*/

.header {
  padding: 5px 12px;
  border-bottom: 1px solid #000;
  background: #fff;
  position: fixed;
  z-index: 1000;
  top: 0;
  height: 47px;
  width: 100%;
}

hr {
  border: 2px solid black;
}

h1 {
  font-size: 3rem;
  margin: 0.75em 0;
  text-align: left;
  letter-spacing: -1px;
  font-weight: bold;
}

h2, h3, h4, h5, h6 {
  font-size: 2.25rem;
  margin: 0.75em 0;
  text-align: left;
  letter-spacing: -1px;
  font-weight: normal;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.65rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  color: #999;
}

p {
  margin: 0 0 1.65em 0;
  line-height: 1.35em;
}

blockquote p {
  margin: 0;
  padding: 0.5em 0.5em;
}

img {
  border: 0;
  max-width: 100%;
}

#container ul {
  list-style-type: none;
}

#container li {
  line-height: 1.5;
}

#container ul > li:before {
  content: '\2014';
  position: absolute;
  margin-left: -20px;
}

#container ul > li > ul > li:before {
  content: none;
  clear: both;
}

#container ul > li > ul > li {
  list-style: square;
}



/*
@import "typography.css";
*/