.menu-drawer {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 400px;
  z-index: 1001;
  border-right: 1px solid #000;
  background: #101010;
  color: white;
  backface-visibility: hidden;
  transition: all .4s ease;
  transition-delay: 0s;
}

.thinscroll::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

.thinscroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.thinscroll::-webkit-scrollbar-thumb {
	background-color: deeppink;
}

.menu-drawer-header {
  overflow: hidden;
  border-bottom: 1px dotted black;
  font-size: 14px;
  padding: 10px;
}

.menu-drawer-header h2 {
  background-image: linear-gradient(45deg,#f012be,#0074d9);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
  display:inline-block;
  font-size: 24px;
  padding: 0;
  margin: 4px 14px;
}

.menu-drawer.hide {
  transform: translate3d(-100%, 0 , 0);
}

.menu-drawer a {
  text-decoration: none;
}

.menu-drawer a:hover {
  text-decoration: underline;
  background: gold;
  font-weight: bold;
  color: black;
}

.menu-drawer a:valid {
  background: goldenrod;
  font-style: italic;
  color: white;
}

/* menu lits */
div.menu-drawer ul {
  list-style-type: none;
  padding: 0;
  margin-left: 1em;
}

div.menu-drawer ul > li { 
  line-height: 1.25;
  font-size: 1.25em;
  font-weight: bold !important;
}

div.menu-drawer ul > li > ul > li { 
  font-size: 0.90em;
  font-weight: normal;
}

/* white cross */
.wex {
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.wex > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 1px;

  background: #fff;
}
.wex .one {
  transform: translate(-50%, -50%) rotate(45deg);
}
.wex .two {
  transform: translate(-50%, -50%) rotate(-45deg);
}
