#navbar {
    overflow: hidden;
    background: white;
    opacity: 0.95;
    top: 0px;
    position: -webkit-sticky;
    position: sticky;
    border-bottom: 2px solid black;
}

#navbar a {
    font-size: 14px;
    float: left;
    color: black;
    display: block;
    text-align: center;
    padding: 14px;
    font-weight: bold;
    text-decoration: none;
}

#navbar a.trailing {
    font-style: italic !important;
}

#navbar span {
    font-size: 14px;
    float: left;
    color: black;
    display: block;
    text-align: center;
    padding: 14px 6px;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
