.control-panel {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 400px;
  z-index: 1001;
  border-bottom: 1px solid #000;
  background: #fff;
  opacity: 0.95;
  overflow: hidden;
  backface-visibility: hidden;
  transition: all .4s ease;
}

.control-panel.hide {
  transform: translate3d(0, -100% , 0);
}


.bookcover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}
.bookcover-image {
  width: 100%;
}
.bookcover-info {
  position: absolute;
  top: 0px;
  left: 50px;
  padding: 40px;
  width: 80%;
  padding-left: 0;
}
.book-title {
  word-wrap: break-word;
}
.book-author {
  word-wrap: break-word;
  margin-top: 20px;
}

.toc-link {
  width: 40px;
  height: 33px;
  border: 1px solid #000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 9px 6px;
}
.toc-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.table-of-contents a {
  background: transparent;
  display: inline-block;
  border-bottom: none;
}
.toc-dot {
  width: 3px;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0px;
  background: #000;
}
.toc-line {
  position: absolute;
  right: 0px;
  width: 20px;
  height: 1px;
  background: #000;
}
.toc-link:hover {
  background: #000;
}
.toc-link:hover .toc-dot, .toc-link:hover .toc-line {
  background: #fff;
}

.toc-wrapper > div{
    position: absolute;
    width: 100%;
    left: 50%;
    height: 1px;
    transform: translate(-50%, -50%);
}

.toc-wrapper > div:nth-child(1) {
  top: 0%;
}
.toc-wrapper > div:nth-child(2) {
    top: 50%;
}
.toc-wrapper > div:nth-child(3) {
    top: 100%;
}

.table-of-contents {
  padding-top: 20px;
}
.highlight-page {
  padding-top: 50px;
}
.chapter-title {
  font-size: 50px;
  margin: 50px 0;
}

.header *, .control-panel *:not(.preview-text):not(.preview):not(.reset-settings):not(.font):not(.font-character), .page-num {
  font-family: "San Francisco";
  font-size: 14px;
  color: #000;
}

.citation-bar {
    height: 100%;
    background: transparent;
    width: 30px;
    position: absolute;
    right: 0;
    top: 0;
    backface-visibility: hidden;
    display: none;
    width: 20px;
  }
  
  
  .citation-arrow {
    font-size: 15px;
    margin-left: 2px;
  }
  .citation-num-wrapper {
    text-align: center;
    position: absolute;
  } 
  .citation-num-mobile {
    display: block;
  }
  
  .alt-body-text .blockquote {
    padding: 10px 20px;
  }
  .alt-body-text .citation-num {
    font-size: 2px !important;
  }
  
  .preview-text {
      font-family: "baskerville";
      font-size: 18px;
  }
  
  .italic {
    font-style: italic;
  }
  .chapter-head {
    margin: 100px 0;
  }
  .alt-chapter-head, .alt-section-title {
    padding: 0 5px;
    pointer-events: none;
  }
  .chapter-heading {
    font-size: 56px;
    margin: 50px 0;
  }
    .section-title {
    font-size: 42px;
    margin: 50px 0;
  }
  .table-of-contents .chapter-heading,{
    margin: 20px 0;
  }
    .highlight-page .chapter-heading {
    margin-bottom: 10px;
    margin-top: 4px;
    }
    .highlight-header .sub-title, .introduction .sub-title {
    margin: 10px 0;
    }
    .introduction .sub-title {
    font-size: 18px;
    }
  
  .table-of-contents .btn {
    width: 150px;
  }
  
  .introduction {
    padding-bottom: 20px;
  }
  .introduction .body-text  {
    font-size: 18px;
  }
  
  .section-title {
    margin: 100px 0 50px 0;
  }
  
  .sub-title {
    font-size: 32px;
    margin: 60px 0 20px 0;
  }
  
  
  .reference .sub-title {
    font-size: 5px !important;
    margin-top: 0 !important;
    line-height: initial !important;
    line-height: initial !important;
    letter-spacing: initial !important;
  }
  .content-wrapper {
    font-size: 18px;
    margin-top: 150px;
    line-height: 1;
  }
  .body-text {
    font-size: inherit;
    line-height: inherit;
    margin: 20px 0;
  }
  .highlight-text {
    margin: 60px 0;
  }
  .alt * {
    font-size: 5px;
  }
  .reference-section, .table-of-contents{
    margin: 20px 0;
  }
  .reference-section {
    margin-top: 0;
  }
  .table-of-contents {
    margin-bottom: 0;
  }
  .reference-header {
    position: absolute;
    top: 0;
    width: calc(100% - 60px);
  }
  .alt-reference-header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 40px;
    width: 100%;
  }
  .alt-reference-header .sub-title {
    margin-top: 0;
  }
  
  .chapter-title {
    margin-bottom: 0;
    margin-bottom: 10px;
  }
  .chapter-title-wrapper {
    margin: 50px 0;
    margin-top: 120px;
  }
  .chapter-title-wrapper.inactive {
    opacity: .2;
    pointer-events: none;
  }
  .highlight-section-wrapper {
    margin: 200px 0;
  }
  .highlight-mini {
    font-size: 13px;
  }
  .highlight-section-wrapper.first {
    margin-top: 130px;
  }
  
  .citation-num {
    vertical-align: super;
    font-size: 9px; 
  }
  .citation-block {
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: transform .3s ease;
    width: calc(100% - 60px);
  }
  
  .citation, .alt-body-text {
    padding: 10px 5px;
    margin: 10px 0;
    border: 1px solid transparent;
    user-select: none;
  }
  
  img.citation {
    margin-bottom: 0;
  }
  
  .citation:first-child, .alt-body-text:first-child {
    margin-top: 0;
  }
  .active-paragraph {
    border: 1px solid rgba(0,0,0,.2);
  }
  .citation:hover, .alt-body-text:hover {
    border: 1px solid #000;
    cursor: pointer !important;
  }
  /*.alt-citio*/
  .alt-citation-block {
    padding: 0 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .alt-citation {
    padding: 20px 0px;
    margin: 20px 0;
  }
  .alt-citation p, .alt-citation, .alt-citation-block {
    line-height: inherit;
    letter-spacing: inherit;
  }
  .alt-citation:nth-child(1) {
    margin-top: 0;
  }
  .alt-citation-img{
    padding-bottom: 0;
    width: auto;
    max-width: 80%;
    max-height: 70vh;
  }
  
  .alt-img-wrap {
    text-align: center;
  }
  .alt-image-caption {
    text-align: center;
  }


  .page-title {
    margin: 0;
    text-align: center;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    /*cursor: pointer;*/
  }
  .highlight-page .page-title {
    display: none;
  }
  
  .chapter-title-line {
    width: 20px;
    height: 2px;
    background: #000;
  }
  
  .link, a{
    display: inline;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid #000;
  }
  .reference .link, .reference a, .alt-content-wrapper a, .alt-content-wrapper .link {
    border-bottom: none;
    pointer-events: none;
  }
  .toc-link {
    background: transparent;
  }
  
  
  .group::after {
    display: block;
    clear: both;
    content: "";
  }
  
  .tooltip {
    position: fixed;
    position: absolute;
    z-index: 100;
    transform: translate(0%, -130%);
    background: #000;
    top: 50%;
    left: 50%;
  }
  
  
  .lines {
    position: fixed;
    top: 47px;
    bottom: 0;
    z-index: 2;
  }
  
  .lines-left {
    left: 0;
    width: 7px;
    background: #fff;
    z-index: 50;
  }
  
  .lines-left .line:last-of-type{
    margin-right: 0;
  }
  
  .lines-right {
    /*width: 147px;*/
    right: 0;
    background: transparent;
    z-index: 0;
  }
  .lines-right:hover {
    /*z-index: 200;*/
  }
  
  .line {
    float: left;
    width: 1px;
    height: 100%;
    background: #000;
    margin: 0 3px;
    position: relative;
    z-index: -1;
  }
  .line.placeholder {
    opacity: 0;
  }
  .line.with-link {
    z-index: 10;
  }
  
  .chapter-link {
    display: none;
    transform: rotate(-90deg) translate(-50%, -50%);
    transform-origin: top left;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 13px;
    padding: 1px 0px;
    width: 84px;
    background: #fff;
    color: #000;
    /*border: 1px solid #000;*/
    cursor: pointer;
    user-select: none;
    font-family: "San Francisco";
  }
  
  /*.chapter-link:hover {
    background: #000;
    color: #fff;
  }*/
  
  .lines .mask {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 100%;
    height: 100px;
    z-index: 5;
  }
  
  .lines:hover .mask, .lines:hover .chapter-link {
    display: block;
  }
  .progress-right {
    position: relative;
    z-index: 10;
  }
  
  ::-webkit-scrollbar { display: none; }
  
  .scroll-panel {
  
    width: 20px;
    height: 100%;
    background: #fff;
    float: right;
    position: relative;
    z-index: 1000000;
  }
  
  .scroll-handle {
    position: absolute;
    top: 0;
    width: 24px;
    left: -4px;
    height: 100px;
    z-index: 2;
    background: #000;
    cursor: -webkit-grab;
    cursor: grab;
    /*opacity: 1;*/
    /*transition: opacity .4s ease;*/
  }
  .scroll-handle.is-transitioning {
    opacity: 0;
  }
  
  
  .scroll-handle-marks {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 20px;
    transform: translate(-50%, -50%);
  }
  .scroll-handle-marks span {
    width: 100%;
    height: 1px;
    /*background: #bbb;*/
    background: #eee;
    position: absolute;
  }
  
  .scroll-handle-marks span.one {
    top: 0;
  }
  .scroll-handle-marks span.two {
    top: 50%;
    transform: translateY(-50%);
  }
  .scroll-handle-marks span.three {
    bottom: 0;
  }
  
  .page-marker {
    height: 1px;
    width: calc(100% - 4px);
    display: block;
    background: #000;
    position: absolute;
  }
  
  .container {
    /*width: calc(100% - 159px); */
    width: calc(100% - 180px);
    position: relative;
  }
  .page-wrapper {
    transform: translateZ(0);
    will-change: transform;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  
  .page-footer {
    padding-bottom: 10px;
    padding-top: 200px;
    text-align: center;
  }
  
  .page-wrapper {
    width: 100%;
    border-right: 1px solid #000;
    position: absolute;
    background: #fff;
    transition: border .4s ease;
  }
  
  .page-wrapper.is-transitioning {
    border-right: 1px solid transparent;
  }
  .alt-wrapper, .main-wrapper {
    background: #fff;
  }
  .alt-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    /*display: none;*/
    /*background: #fff;*/
  }
  
  .separation-line {
    position: fixed;
    top: 0;
    top: 47px;
    left: 50%;
    z-index: 50;
    bottom: 0;
    left: 0;
    transition: transform .4s ease, opacity 1s ease;
    /*border-right: 1px solid #000;*/
    transform: translateZ(0);
    backface-visibility: hidden;
    height: 100vh;
    width: 1px;
    padding: 0;
    background: #000;
    margin: 0;
    opacity: 0;
  }
  .separation-line.show {
    opacity: 1;
  }
  
  .alt-content-section {
    cursor: pointer;
  }
  
  .tool {
    display: block;
    height: 35px;
    width: 35px;
    float: left;
    color: #fff;
    position: relative;
  }
  .bookmarktip {
    position: fixed;
    transform: translate(-100%, -100%);
    background: #111;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    display: none;
  }
  .bookmarktip svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .bookmarktip.active  svg{
    fill: yellow;
  }
  
  .bookmark {
    position: absolute; 
  }
  
  .bookmark-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    width: 17px;
    z-index: 1000;
    opacity: 0; 
  }
  
  .bookmark-icon.show {
    animation-fill-mode: forwards;
    animation: blink 1s 4;
  }
  
  .modal-content {
    margin: 12px 0; 
  
  }
  .bookmark-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 20px;
    border: 1px solid #000;
    background: #fff;
    z-index: 1000000;
    width: 360px;
    text-align: center;
    /*display: none;*/
    opacity: 0;
    pointer-events: none;
  }
  
  .bookmark-modal.show {
    /*display: block;*/
    opacity: 1;
    pointer-events: all;
  }
  .bookmark-modal *{
    font-family: "San Francisco";
    font-weight: 400;
    color: #000;
    
  }
  .tooltip {
    border-radius: 2px;
    display: none;
  }
  
  .tooltip.show {
    display: block;
    animation-name: tooltip-enter;
    animation-duration: .15s;
    animation-timing-function: ease-out;
  }
  .tooltip div * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .tooltip img {
    width: 20px;
    display: block;
    cursor: pointer;
    margin: 0 auto;
  }
  .arrow-right {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 15px !important;
    z-index: -1;
  }

  .color, .font{
    height: 50px;
    width: 50px;
    margin: 5px calc(12.5% - 25px);
    float: left;
    border: 1px solid #000;
    position: relative;
    cursor: pointer;
  }
  
  .font {
    width: 40px;
    height: 40px;
    margin: 5px calc(10% - 20px);
  }
  
  .blue .color.blue, .white .color.white, .yellow .color.yellow, .cream .color.cream,
  .helvetica .font.helvetica, .gill-sans .font.gill-sans, .merriweather .font.merriweather,
  .baskerville .font.baskerville, .cutive-mono .font.cutive-mono {
    border: 2px solid #000;
  }
  
  
  .character {
    position: absolute;
    font-family: "San Francisco";
    /*font-size: 22px;*/
    font-size: 18px;
  
    top: 50%;
    user-select: none;
    left: 50%;
    transform: translate(-50%, -50%);
    color: inherit;
    font-family: inherit;
  }
  
  .gill-sans > .font-character {
    margin-top: 3px;
  }
  .merriweather > .font-character {
    margin-top: -1px;
  }
  .baskerville > .font-character {
    margin-top: 2px;
  }
  
  .white-text {
    color: #fff !important;
  }
  
  .white {
    background: #fff;
    color: #000;
  }
  
  .white .highlighted, .highlighted {
    background: rgb(255, 255, 123) !important;
  }
  
  .blue, .blue .page, .blue .main-wrapper, .blue .lines, .blue .scroll-panel, .blue, .blue .mask, .blue .chapter-link{
    background: blue;
    color: #fff;
  }
  .blue .page-num {
    color: #fff;
  }
  
  .blue .highlighted {
    background: yellow !important;
    color: #000;
  }
  .blue .chapter-title-line {
    background: #fff;
  }
  
  .blue .link {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
  .blue .reference .link {
    border-bottom: none;
  }
  
  .blue .citation:hover, .blue .alt-body-text:hover{
    border: 1px solid #fff;
  }
  
  .yellow, .yellow .page, .yellow .main-wrapper, .yellow .lines, .yellow .scroll-panel, .yellow .mask {
    background: yellow;
    color: black;
  }
  
  .yellow .highlighted {
    background: rgb(255, 255, 225) !important;
  }
  .cream, .cream .page, .cream .main-wrapper, .cream .lines, .cream .scroll-panel, .cream .mask {
    background: #FAFAC8;
    color: black;
  }
  
  .cream .highlighted {
    background: rgb(255, 227, 123) !important;
  }
  
  .on-btn, .off-btn, .btn {
    border: 1px solid #000;
    background: #fff;
    color: #000;
    width: calc(50% - 8px);
    float: left;
    text-align: center;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    font-family: "San Francisco";
    user-select: none;
  }
  .btn:hover {
    background: #000;
    color: #fff;
  }
  .btn.start {
    margin: 0 auto;
    float: none;
  }
  
  .on-btn {
    margin-right: 4px;
  }
  
  .off-btn {
    margin-left: 4px;
  }
  
  .on-btn.active, .off-btn.active {
    background: #000 !important;
    color: #fff !important;
  }
  
  .control-panel-header {
    height: 47px;
  }
  .preview {
    height: 140px;
  }
  .controls {
    /*height: calc(100% - 187px);*/
    height: calc(100% - 171px);
    padding-bottom: 0;
    overflow: scroll;
  }
  
  .main, .reference, .alt, .alt-reference {
    float: left;
    padding: 40px;
  }
  .alt {
    padding-top: 100px;
    user-select: none;
  }
  .main {
    width: 75%;
  }
  .alt {
    width: 25%;
  }
  .alt-reference {
    width: 75%;
    position: relative;
  }
  
  .reference {
    width: 25%;
    padding-right: 40px;
    position: relative;
    display: block;
    visibility: hidden;
    pointer-events: none;
  }
  
  .reference p {
    font-size: 5px;
  }
  
  .reference.citations {
    visibility: visible;
    pointer-events: all;
  }
  
  
  .reference-section li, .table-of-contents li {
    margin: 4px 0;
    font-size: 5px;
  }
  
  .image-citation, .image-block, .alt-image-block {
    text-align: center;
  }
  
  .inline-image {
    margin: 20px auto;
    margin-bottom: 10px;
    width: 80%;
    text-align: center;
    display: block;
    max-height: 70vh;
    width: auto;
    max-width: 80%;
  }
  
  .closed .image-switch {
    display: block;
  }
  .image-switch {
    height: 14px;
    width: 14px;
    /*background: yellow;*/
    border-radius: 50%;
    border: 1px solid #000;
    display: block;
    float: left;
    top: 1px;
    position: relative;
    user-select: none;
    cursor: pointer;
    display: none;
  }
  .image-switch > span {
    width: 7px;
    height: 1px;
    background: #000;
  }
  .image-switch.open .one {
      transform: translate(-50%,-50%) rotate(0deg);
  }
  .image-switch .one {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(90deg);
    transition: all .15s ease;
  }
  .image-switch .two {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .image-details {
    display: block;
    /*float: left;*/
    /*width: 80%;*/
    width: 100%;
    text-align: center;
    padding-left: 10px;
    font-size: 5px;
  
  }
  .main .image-details {
    font-size: inherit;
    /*margin-bottom: 20px;*/
  }
  
  .image-citation img, .image-block img, .alt-image-block img{
    width: 100%;
  }
  
  .image-block.closed img {
    display: none;
  }
  .image-details > span {
    display: none;
    margin-bottom: 4px;
  }
  .closed .image-details {
    text-align: left;
  }
  .closed .image-details > span {
    display: block;
  }
  .hidefocus .shutter {
    transform: translate3d(0,0,0) !important;
  }
  
  .shutter {
    background: #000;
    height: 50vh;
    width: calc(100% - 146px);
    background: #000;
    position: fixed;
    left: 0px !important;
    width: calc(100% - 24px);
    z-index: 600;
    transition: transform .2s ease;
  
  }
  
  .grabbed .shutter {
    transition: none;
  }
  
  .shutter-top {
    top: -50vh;
    transform: translateY(30%)
  }
  .shutter-bottom{
    bottom: -50vh;
    transform: translateY(-30%);
  }
  .handle {
    display: block;
    width: 40%;
    height: 10px;
    background: #000;
    position: absolute;
    left: 50%;
    cursor: grab;
    cursor: -webkit-grab;
    transform: translateX(-50%);
  }
  .grabbed {
    cursor: grabbing !important;
    cursor: -webkit-grabbing !important;
  }
  
  .handle-top {
    bottom: 0px;
    border-top: 1px solid #fff;
  }
  .handle-bottom {
    top: 0px;
    border-bottom: 1px solid #fff;
  }
  /* Range input styles*/
  input[type=range] {
    -webkit-appearance: none;
    margin: 15px 0;
    height: 18px;
    width: 100%;
  }
  
  
  
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: #000;
  }
  input[type=range]::-webkit-slider-thumb {
    border: 1px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
  }
  
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #000;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: #000;
  }
  input[type=range]::-moz-range-thumb {
    border: 1px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: #000;
  }
  input[type=range]::-ms-fill-lower {
    background: #000;
  }
  input[type=range]::-ms-fill-upper {
    background: #000;
  }
  input[type=range]::-ms-thumb {
    border: 1px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #000;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #000;
  }
  
  .controls::-webkit-scrollbar {
      width: 12px;
      display: block
  }
    
  .controls::-webkit-scrollbar-track {
  }
    
  .controls::-webkit-scrollbar-thumb {
      background: #000;
  }
  
  
  
  ::selection{
      background: #ACCEF7;
      background: yellow;
      background: #FFFF7B;
      background: #000;
      color: #fff;
  }
  
  
  /*.yellow ::selection {
    background: rgb(255, 255, 255);
  }*/
  
  .download-pdf {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .footer {
    float: left;
    clear: both;
    height:100vh;
    position: relative;
    width: 100%;
    padding: 10px ;
  }
  .footer.pagefooter {
    height: 220px;
    padding-top: 200px;
  }
  .page-num {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 5px 0;
    padding-bottom: 30px;
    pointer-events: none;
    user-select: none;
  }
  .nav-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .nav-section h1 {
    font-size: 72px;
  }
  
  .nav-link.inactive {
    pointer-events: none;
  }
  
  .chapter-link.inactive {
    color: rgba(0,0,0,.2);
  }
  
  .nav-button {
    border: 1px solid black;
    text-align: center;
    padding: 5px 20px;
    font-family: "San Francisco";
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
    user-select: none;
  } 
  .nav-button:hover {
    color: #fff;
    background: #000;
  }
  
  .main-wrapper {
    opacity: 1;
  }
  .alt-wrapper {
    opacity: 0;
  }
  .main-wrapper, .alt-wrapper {
    transition: opacity .4s ease !important;
  }
  .fadeOut{
    opacity: 0;
    pointer-events: none;
  }
  .fadeIn{
    transition-delay: .4s;
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
  
  @keyframes tooltip-enter {
    from {
      transform: translate(0%, calc(-130% - 2px));
      /*opacity: 0;*/
    }
  
    to {
      /*opacity: 1;*/
      transform: translate(0%, -130%);
    }
  }
  
  @keyframes blink {
    0%   { opacity:0; }
    50%  { opacity:1; }
    100% { opacity:0; }
  }
  
  
  
  /* Stuff Andrew Added */
  
  .inline-image{
  
  margin: 70px auto; 
  
  max-height: 70vh; 
  
  margin-bottom: 20px; 
  
  }
  
  
  
  .main .image-details {
  
  padding-bottom: 50px; 
  
  }
  
  
  
  .link{
  
  color: black; 
  
  border-bottom: 1px solid black; 
  
  }
  
  
  
  .chapter-head{
  
  margin: 40px 0; 
  
  }
  
  
  
  .chapter-heading{ 
  
  margin: 30px 0; 
  
  font-size: 43px; 
  
  } 
  
  
  
  .section-title{ 
  
  margin: 70px 0 30px 0; 
  
  }
  
  
  
  .main {
    padding-left: 68px; 
  } 
  
  .table-of-contents .main {
    padding-left: 64px;
    padding-top: 30px;
    width: 70%;
  }
  .table-of-contents .toc-link, .table-of-contents .adjust-controls {
    display: none;
  }
  .table-of-contents .chapter-heading {
    margin-bottom: 0;
  }
  .table-of-contents .body-text {
    margin: 15px 0 20px 0;
    line-height: 1.5;
  }
  .export-highlights-wrapper {
    padding: 26px 12px;
    position: absolute;
    top: 62px;
    right: 20px;
    border: 1px solid black;
    width: 260px;
    text-align: center;
  }
  .export-cta {
    font-size: 16px;
    font-family: "San Francisco";
    margin: 20px 0;
    margin-top: 0;
  }
  .export-highlights {
    margin: 0 auto;
    float: none;
  }
  
  .chapter-heading{ 
  
  margin: 40px 0; 
  
  } 
  
  .chapter-title{ 
  
  font-size: 72px; 
  
  line-height: 1.1; 
  
  }
  
  
  
  .bookcover-info{
    top: 10px;
    left: 60px;
    padding: 40px;
    width: 77%;
    padding-left: 0;
  }
  
  /* to keep citations from getting off the edge */
  .citation, .alt-reference a{
    word-wrap: break-word;
  }
  