.control-panel {
  overflow-y: hidden;
  max-height: 500px;
  opacity: 0.95;
  /*border-bottom: 2px solid black;*/

  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.control-panel-header {
  overflow: hidden;
  padding: 12px 12px;
  border-bottom: 1px dotted black;
}

.control-panel-header a {
  font-size: 14px;
  border-radius: 4px;
  display:inline-block;
  text-align: center;
  padding: 6px 8px;
  text-decoration: none;
  margin-right: 20px;
}

.control-panel.hide {
	max-height: 0;
}

/*
.preview, .controls, .control-panel-header{
  padding: 5px 12px;
  border-bottom: 1px solid #000;
  position: relative;
}
*/

.reset-filters {
  color: #666;
}

.apply-filters/*, .adjust-controls*/ {
  width: 150px;
  text-align: center;
  border: 1px solid #000;
  cursor: pointer;
  user-select: none;
}

.adjust-controls:hover {
  background: #000;
  color: #fff;
}

.apply-filters {
  background: black;
  color: #fff !important;
}

.apply-filters.inactive {
  background: #fff;
  color: #000 !important;
  opacity: .3;
  pointer-events: none;
  user-select: none;
}

.adjust-controls {
  left: 57px;
}

.ex {
  position: relative;
  float: right;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.ex > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 1px;

  background: #000;
}
.ex .one {
  transform: translate(-50%, -50%) rotate(45deg);
}
.ex .two {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/*
.adjust-icon-wrapper {
  padding: 6px;
  float: left;
  border: 1px solid #000;
  height: 33px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.adjust-icon-wrapper:hover{
  background: #000;
}
.adjust-icon-wrapper:hover circle {
  fill: black !important;
  stroke: white !important;
}
.adjust-icon-wrapper:hover line {
  stroke: #fff !important;
}

.back-icon-wrapper {
  padding: 8px 9px;
  float: left;
  position: relative;
  border: 1px solid #000;
  height: 33px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.back-icon {
  width: 13px;
}
.back-icon-wrapper:hover {
  background: #000;
}
.back-icon-wrapper:hover line {
  stroke: #fff !important;
}

.back-icon-wrapper:hover polygon {
  fill: #fff !important;
  stroke-width: .5px !important;
}

.adjust-icon {
  width: 19px;
}
*/

.preview, .controls, .control-panel-header{
    padding: 5px 12px;
    border-bottom: 1px solid #000;
    position: relative;
}

.preview {
  border-bottom: none;
}
.preview.dashed {
  border-left: 1px dashed black;
}
.blue.preview.dashed {
  border-left: 1px dashed #fff;
}
.controls {
  /*border-top: 1px solid black;*/
  -webkit-overflow-scrolling: touch;
}
.preview {
  overflow: hidden;
}
.preview-text {
  margin: 0;
}
.controls {
  border-bottom: none;
}

.slider-controls, .button-controls, .utility, .reset-settings{
  padding: 5px 12px;
/*  margin: 10px 0;*/
}

.slider-controls:first-of-type {
  margin-top: 20px;
}

.focus-controls input {
/*  margin: 14px 0 !important;*/
}

.reset-settings {
  color: #999;
  font-size: 11px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  left: 170px;
}

.reset-settings:hover {
  color: #000;
}

.utilities {
  margin-top: 48px;
}

.sharable-link {
  width: calc(100% - 8px);
  outline: none;
}


/* Range input styles*/
input[type=range] {
  -webkit-appearance: none;
  margin: 15px 0;
  height: 18px;
  width: 200px;
}



input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #000;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}


input[type=range]:focus::-webkit-slider-runnable-track {
  background: #000;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #000;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #000;
}
input[type=range]::-ms-fill-lower {
  background: #000;
}
input[type=range]::-ms-fill-upper {
  background: #000;
}
input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #000;
}

.controls::-webkit-scrollbar {
    width: 12px;
    display: block
}
  
.controls::-webkit-scrollbar-track {
}
  
.controls::-webkit-scrollbar-thumb {
    background: #000;
}

/* ************************************************************************* */
/* type selector */
/* ************************************************************************* */
.color, .font{
  height: 50px;
  width: 50px;
  margin: 5px calc(12.5% - 25px);
  float: left;
  border: 1px solid #000;
  position: relative;
  cursor: pointer;
}

.font {
  width: 40px;
  height: 40px;
  margin: 5px calc(10% - 35px);
}

.blue .color.blue, .white .color.white, .yellow .color.yellow, .cream .color.cream,
.helvetica .font.helvetica, .gill-sans .font.gill-sans, .merriweather .font.merriweather,
.baskerville .font.baskerville, .cutive-mono .font.cutive-mono {
  border: 2px solid #000;
}


.character {
  position: absolute;
  font-family: "San Francisco";
  /*font-size: 22px;*/
  font-size: 18px;

  top: 50%;
  user-select: none;
  left: 50%;
  transform: translate(-50%, -50%);
  color: inherit;
  font-family: inherit;
}

.gill-sans > .font-character {
  margin-top: 3px;
}
.merriweather > .font-character {
  margin-top: -1px;
}
.baskerville > .font-character {
  margin-top: 2px;
}

.white-text {
  color: #fff !important;
}

.white {
  background: #fff;
  color: #000;
}

.white .highlighted, .highlighted {
  background: rgb(255, 255, 123) !important;
}

.blue, .blue .page, .blue .main-wrapper, .blue .lines, .blue .scroll-panel, .blue, .blue .mask, .blue .chapter-link{
  background: blue;
  color: #fff;
}
.blue .page-num {
  color: #fff;
}

.blue .highlighted {
  background: yellow !important;
  color: #000;
}
.blue .chapter-title-line {
  background: #fff;
}

.blue .link {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.blue .reference .link {
  border-bottom: none;
}

.blue .citation:hover, .blue .alt-body-text:hover{
  border: 1px solid #fff;
}

.yellow, .yellow .page, .yellow .main-wrapper, .yellow .lines, .yellow .scroll-panel, .yellow .mask {
  background: yellow;
  color: black;
}

.yellow .highlighted {
  background: rgb(255, 255, 225) !important;
}
.cream, .cream .page, .cream .main-wrapper, .cream .lines, .cream .scroll-panel, .cream .mask {
  background: #FAFAC8;
  color: black;
}

.cream .highlighted {
  background: rgb(255, 227, 123) !important;
}
