table {
  border: 1px solid #eaeaea;
  table-layout: auto;
  min-width: 80%;
}

th {
  font-weight: bold;
  background: #f7f7f7;
  padding: 0.5rem;
}

td {
  padding: 0.5rem;
  border: 1px solid #eaeaea;
}

/*# sourceMappingURL=tables.css.map */
