code {
  background: #f9f2f4;
  color: #9c1d3d;
  padding: 0.2rem 0.4rem;
  border-radius: 3px;
}

code, kbd, pre, samp {
  font-family: "Inconsolata", monospace !important;
}

pre {
  padding: 1rem;
  margin: 2rem 0;
  background: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 2px;
  line-height: 1.15;
  font-size: 1rem;
}
pre code {
  color: #237794;
  background: inherit;
  font-size: 1rem;
}

pre {
  position: relative;
}

pre {
  overflow: auto;
}

#container a {
  color: #000;
  text-decoration: none;
  border-bottom: 2px dotted black;
  -o-transition: color 0.1s ease-out, background 0.3s ease-in;
  -ms-transition: color 0.1s ease-out, background 0.3s ease-in;
  -moz-transition: color 0.1s ease-out, background 0.3s ease-in;
  -webkit-transition: color 0.1s ease-out, background 0.3s ease-in;
  transition: color 0.1s ease-out, background 0.3s ease-in;
}

#container a:hover {
  color: #000;
  background: gold;
  border-bottom: 2px solid black;
}

/*# sourceMappingURL=typography.css.map */
