$core-text:						#000;
$core-accent:					#1694CA;
$secondary-link:				#F8B450;
$white:							#fff;
$black:							#000;
$light-gray:					#ddd;

$link-text:                     $core-text;
$link-hover-text:               $link-text;
$link-hover-bg:                 gold;

$core-border-color:				$light-gray;
$core-border-color-hover: 		darken($core-border-color, 10);
$core-border-color-focus: 		$core-accent;

$core-box-shadow: 				inset 0 1px 3px hsla(0, 0%, 0%, 0.06);
$core-box-shadow-focus: 		$core-box-shadow, 0 0 5px rgba(darken($core-border-color-focus, 5), 0.7);

$page-bg:						#fff;

$header-text:					#aaa;

$nav-link:						#aaa;

$main-bg:						#f7f7f7;
$body-border:					darken($main-bg, 5%);

$sidebar-text:					#aaa;

$bottom-bg:						#f7f7f7;
$bottom-text:					$core-text;

$footer-bg:						#404040;
$footer-text:					#ccc;

$rule-color: 					#F0F2F4;
$code-text:						#c7254e;
$code-bg:						#f9f2f4;
$pre-text:						#237794;
$pre-bg:						#f6f6f6;

$dark-navbar-text:				#999;
$dark-sidebar:					#222;
$dark-sidebar-text:				#999;
$dark-main-bg:					#333;
$dark-body-border:				#666;
