@import "colors";

table {
	border: 1px solid lighten($light-gray,5%);
	table-layout: auto;
	min-width: 80%;
}

th {
	font-weight: bold;
	background: lighten($light-gray,10%);
	padding: 0.5rem;
}

td {
	padding: 0.5rem;
	border: 1px solid lighten($light-gray,5%);
}

